@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFF8F1;
    --foreground: #5A3825;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #FFF8F1;
}
::-webkit-scrollbar-thumb {
  background: #C68642;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5A3825;
}
